<h1>Auswertung#list_temperatur_verlauf</h1>

<div id="plot_area2">Anzeige folgt sofort ...</div>

<script type="text/javascript">
    jQuery(function($){
        var data_array = [
            {   label: 'Vorlauf',
                data: [
                    <%= @vorlauf %>
                ]
            },
            {   label: 'Rücklauf',
                data: [
                    <%= @ruecklauf %>
                ]
            },
            {   label: 'Sonne',
                data: [
                    <%= @sonne %>
                ]
            },
            {   label: 'Schatten',
                data: [
                    <%= @schatten %>
                ]
            }
        ];
        new plot_diagram('130', 'plot_area2', 'Temperatur-Verlauf Einzel-Messwerte', data_array,
                {
                    plot_diagram: {locale: 'de'},
                    series: {points: {show: false}}
                }
        );

    })


</script>


