<h1>Auswertung#list_temperatur_verlauf</h1>
<p>Find me in app/views/auswertung/list_temperatur_verlauf.html.erb</p>

<div id="plot_area2">Hugo2</div>

<script type="text/javascript">
    jQuery(function($){
        var data_array = [
            {   label: 'Vorlauf',
                data: [
                    <%= @vorlauf %>
                ]
            },
            {   label: 'Rücklauf',
                data: [
                    <%= @ruecklauf %>
                ]
            },
            {   label: 'Sonne',
                data: [
                    <%= @sonne %>
                ]
            },
            {   label: 'Schatten',
                data: [
                    <%= @schatten %>
                ]
            }
        ];
        new plot_diagram('130', 'plot_area2', 'Titel Diagramm', data_array, false, true, true, 'de');

    })


</script>


