/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require slick.grid
 *= require_tree .


 */


body {
    background-image: url(Rotsidan.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 10px;
}

.head {
    background-image: url(Pool.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: lightgoldenrodyellow;
    height: 200px;
    margin-bottom: 10px;
}

.page {
    opacity: 0.8;
    background-color: #58ACFA;
    padding: 10px;
}

.buttons {
    opacity: 0.8;
    background-color: #58ACFA;
    padding: 10px;
    margin-bottom: 10px;
}
